<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/register">Register</a>
    </div>

    <div class="create-user-container">
        <form action="/create-user" method="post">
            <div>
                <h3>Đăng ký</h3>
            </div>
            <div>
                <label for="">Tên đăng nhập</label>
                <input type="text" name="UNAME" placeholder="Tên đăng nhập">
            </div>
            <div>
                <label for="">Mật khẩu </label>
                <input type="password"  name="PWD" placeholder="Mật khẩu">
            <div>
                <label for="">Mã số sinh viên/cán bộ </label>
                <input type="text" name="MSSV" placeholder="Mã số sinh viên/cán bộ">
            </div>
            <div>
                <label for="">Số điện thoại</label>
                <input type="tel" name="SDT" placeholder="Số điện thoại">
            </div>
            <div>
                <label for="">EMAIL</label>
                <input type="email" name="EMAIL" placeholder="Email">
            </div>
            <div>
                <button type="submit" class="btn-submit-food">Submit</button>
            </div>
        </form>
    </div>
    <img src="/img/hutao4.png" alt="">
</body>
</html>