<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="topnav">
        <a href="/customer">Home</a>
        <a class="active" href="/customer/cart">Cart</a>
    </div>
    <div>
        <h1>Thanh toán hóa đơn của ban</h1>
        <h2><%= totalPrice %></h2>
    </div>
    <div>
        <form action="/customer/pay-bill/handle-momo" method="get">
            <button type="submit">Thanh toan momo</button>
        </form>
        <form action="" method="post">
            <button type="submit">Thanh toán ngân hàng</button>
        </form>
    </div>
    
    <img src="/img/fishl.jpg" alt="">
</body>
</html>