<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/resert.css">
    <link rel="stylesheet" href="/css/Màn hình chế biến.css">
    <link rel="icon" type="image/x-icon" href="/img/Resources/favicon.ico">
    <title>STACK</title>
</head>

<body>
    <nav class="navbar">
        <li>
            <a href="/admin">Quay lại màn hình thu ngân</a>
        </li>
        <li>
            <a href="/logout">Đăng xuất</a>
        </li>
    </nav>
    <section>
        <div class="container">
            <div class="offline">
                <span>Trực tiếp</span>
                <div class="list" style="overflow-y: scroll; width: 100%; height: 100vh;">
                    <div class="product">
                        <div class="id_">
                            <span>Hoá đơn #</span>
                            <span>HD004103012023</span>
                        </div>
                        <div class="detail">
                            <div class="left_detail">
                                <div class="food">
                                    <span>x1</span>
                                    <span>Cơm chiên gà xối mỡ</span>
                                </div>
                            </div>
                            <div class="right_detail">
                                <span>Ghi chú:</span>
                                <ul>
                                    <li>Cơm chiên không hành</li>
                                    <li>Cơm sườn nước nắm</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="online">
                <span>Online</span>
                <div class="list " style="overflow-y: scroll; width: 100%; height: 100vh;">
                    <div class="product">
                        <div class="id_">
                            <span>Hoá đơn #</span>
                            <span>HD004103012023</span>
                        </div>
                        <div class="detail">
                            <div class="left_detail">
                                <div class="food">
                                    <span>x1</span>
                                    <span>Cơm chiên gà xối mỡ</span>
                                </div>

                            </div>
                            <div class="right_detail">
                                <span>Ghi chú:</span>
                                <ul>
                                    <li>Cơm chiên không hành</li>
                                    <li>Cơm sườn nước nắm</li>
                                </ul>
                            </div>
                        </div>
                        <div class="bottom">
                            <span>Giờ nhận:</span>
                            <span>10h30</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</body>

</html>