<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../resert.css">
    <link rel="stylesheet" href="./Thông tin ca làm.css">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <title>EMPLOYEE</title>
</head>

<body>
    <nav class="navbar">
        <li>
            <a href="#">Quay lại màn hình thu ngân</a>
        </li>
        <li>
            <a href="#">Lập phiếu nhập hàng</a>
        </li>
        <li>
            <a href="#">Đăng xuất</a>
        </li>
    </nav>
    <section>
        <div class="container">
            <div class="introduce">
                <div class="top">
                    <div class="left_top">
                        <div>
                            <a href="#">
                                <img src="../images/Frame.png" alt="This is avatar">
                            </a>
                        </div>
                        <a href="#">Xem hàng hoá</a>
                    </div>
                    <div class="right_top">
                        <div class="branch_logo">
                            <div class="branch">
                                <span>Căn tin</span>
                                <span>Trường đại học khoa học tự nhiên</span>
                            </div>
                            <img src="../images/logoHCMUS.png" alt="This is logo">
                        </div>
                        <div class="time">
                            <div class="day">
                                <span>THỨ HAI <span>,</span></span>
                                <span>Ngày</span>
                                <span>05/01/2023</span>
                            </div>
                            <span>10h03</span>
                        </div>
                    </div>
                </div>
                <div class="option">
                    <div>
                        <span>Nguyễn Đức Minh Quân</span>
                        <span>Nhân viên bán thời gian</span>
                    </div>
                    <div class="choice">
                        <a href="#">Thông tin tổng</a>
                        <a href="#">Thông tin ca làm</a>
                        <a href="#">
                            <span>Thông tin tháng làm</span>
                            <div class="month">
                                <span> <span>(</span> Tháng </span>
                                <span>01<span>/</span></span>
                                <span>2023 <span>)</span></span>
                            </div>
                        </a>
                        <a href="#">Thông báo</a>
                    </div>
                </div>
            </div>
            <div class="detail">
                <div class="infomation_ship">
                    <div>
                        <label> Họ tên:
                            <span>Nguyễn Đức Minh Quân</span>
                        </label>
                        <label> Số hoá đơn đã bán:
                            <span>24</span>
                        </label>
                        <label> Số tiền đã bán:
                            <span>678.900đ</span>
                        </label>
                        <label> Lịch sử hoá đơn:
                        </label>
                    </div>
                    <div>
                        <label>Ngày làm:
                            <span>02/01/2023</span>
                        </label>
                        <label>Ca làm:
                            <span>Trưa (10h00 - 14h00)</span>
                        </label>
                        <label>Chấm công đầu ca:
                            <span>09h51</span>
                        </label>
                        <label>Chấm công cuối ca:
                            <span>Chưa</span>
                        </label>
                    </div>
                </div>
                <div class="orders_Inship">
                    <div class="order">
                        <div class="left_order">
                            <div class="id_order">
                                <div class="id_">
                                    <span>Hoá đơn #</span>
                                    <span>#HD004302012023</span>
                                </div>
                                <div class="price">
                                    <span>45.000đ</span>
                                </div>
                            </div>
                            <div class="detail_order">
                                <div class="time_order">
                                    <span>10h30</span>
                                    <span>-</span>
                                    <span>02/01/2023</span>
                                </div>
                                <div class="food_order"
                                    style="overflow: hidden;text-overflow: clip;white-space: nowrap; ">
                                    <div class="food">
                                        <span>x1</span>
                                        <span>Cơm sườn</span>
                                        <span>,</span>
                                    </div>
                                </div>
                                <div class="payment_method">
                                    <span>Thanh toán tiền mặt</span>
                                </div>
                            </div>
                        </div>
                        <div class="right_order">
                            <a href="#">></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</body>

</html>