<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/resert.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <title>LOGIN</title>
</head>

<body>
    <section>
        <div class="title">
            <div class="call">
                <i class="fa-solid fa-phone-plus"></i>
                <p>Call us: 0123456789</p>
            </div>
            <div class="email">
                <i class="fa-solid fa-envelope"></i>
                <p>Email: BCQT@dev.inc.vn</p>
            </div>
            <div class="name">
                <p>Hệ thống quản lý căn tin</p>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="top_container">
                <div class="left">
                    <img src="/img/Resources/logoHCMUS.png" alt="This is logoHCMUS">
                </div>
                <div class="right">
                    <p>Căn tin</p>
                    <p>Trường đại học khoa học tự nhiên</p>
                </div>
            </div>
            <div class="middle_container">
                <form action="/admin/handle-login" method="POST">
                    <input type="text" name="UNAME" placeholder="Mã nhân viên">
                    <input type="password" name="PWD" placeholder="Mật khẩu">
                    <button type="submit" id="btn_login">
                        <label for="btn_login">Đăng nhập</label>
                    </button>
                </form>
            </div>
            <div class="bottom_container">
                <a href="#">
                    <button type="button">Xem lịch làm tuần này</button>
                </a>
            </div>
        </div>

    </section>
</body>

</html>