.logo {
    display: block;
    width: min(50vw, 30vh);
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12vh;
}

.small-logo {
    width: min(20vw, 20vh);
    height: auto;
    border: none;
    margin-left: 5vw;
    margin-right: auto;
    margin-top: 5vh;
}

.interFontText {
    font-family: 'Inter';
    font-style: bold;
    font-weight: 700;
}

.logo-and-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#labelCanteen {
    align-items: center;
    text-align: center;
    font-size: min(4.5vw, 4.5wh);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4vh;
}

#labelContact {
    align-items: center;
    text-align: center;
    font-size: min(4.5vw, 4.5wh);
    margin-left: auto;
    margin-right: auto;
    border: none;
}

button.loginSelection {
    margin-left: auto;
    margin-right: auto;
    background-color: #D9D9D9;
    border-radius: 10px;
    border: none;
    display: inline-block;
    width: 70vw;
    height: 5vh;
    font-size: min(4.5vw, 4.5wh);
    align-items: center;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

li.loginButton {
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    margin-bottom: 3vh;
}

ul.contactInfo {
    width: 70%;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

ul.contactInfo li.interFontText {
    text-align: left;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.login-form input {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
    border-radius: 8px;
    border: none;
    padding-left: auto;
    padding-right: auto;
    height: 5vh;
    width: 55vw;
    background: #CDECFA;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.login-form input[type="submit"] {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
    border-radius: 8px;
    border: none;
    padding-left: auto;
    padding-right: auto;
    height: 5vh;
    width: 55vw;
    background: #D9D9D9;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

form.product-search input[type="text"] {
    background: #D9D9D9;
    border-radius: 10px;
    border: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 4.5vh;
}

form.product-search input[type="submit"] {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    border: line;
    width: 17%;
    height: 4.5vh;
}

.product-frame {
    width: 100%;
    height: 65vh;
    margin-top: 5%;
    background-color: #93BBE1;
    overflow-y: scroll;
}

.review-cart-button {
    display: block;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: line;
    width: 50%;
    height: 5vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.product {
    background: rgba(255, 255, 255, 0.5);
    width: 80%;
    height: 10vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 2vh auto 2vh auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product .image {
    width: 15%;
}

.product .info {
    width: 45%;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.product .addbutton {
    width: 15%;
    border-radius: 10px;
}