@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');

:root {
    --gray: #D0D0D0;
    --strong_blue: #273E74;
    --brown: #D67128;
    --blue: #285CD6;
    --light_blue: rgba(179, 218, 255, 0.5);
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

html {
    font-size: 16px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: var(--gray);
}

.navbar li a {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--strong_blue);
}

.navbar li a:hover {
    cursor: pointer;
    color: aliceblue;
}

section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.introduce {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left_top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
}

.left_top img {
    width: 80%;
    object-fit: cover;
}

.btn_management {
    display: flex;
    flex-direction: column;
}

.btn_management>a {
    background-color: var(--brown);
    color: white;
    padding: 1rem;
    margin: 0.2rem 0;
    border-radius: 5px;
}

.btn_management>a:hover {
    cursor: pointer;
    background-color: var(--blue);
}

.right_top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 50%;
    height: 100%;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.branch_logo {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.branch_logo img {
    width: 20%;
    object-fit: cover;
}

.branch {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.branch span {
    text-transform: uppercase;
    color: var(--strong_blue);
}

.branch span:nth-child(1) {
    font-size: 1.8rem;
    font-weight: 700;
}

.time {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.time span {
    text-transform: uppercase;
    color: var(--strong_blue);
    font-weight: 700;
    font-style: italic;
}

.option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 1rem;
}

.option>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-self: center;
    align-items: center;
    padding-left: 1rem;
}

.option>div:nth-child(1) span {
    line-height: 1.3rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--strong_blue);
}

.option>div:nth-child(1) span:first-child {
    text-transform: uppercase;
}

.option>div:nth-child(1) span:last-child {
    font-size: 1rem;
    font-weight: 300;
    color: var(--strong_blue);
}

.choice {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 100%;
}

.choice a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    width: calc(100%/4 - 1rem);
    height: max-content;
    min-height: 3rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.choice a:nth-child(2) {
    background-color: rgba(26, 114, 197, 0.859);
}

.choice a:hover {
    cursor: pointer;
    background-color: var(--strong_blue);
}

.choice a:nth-child(3) {
    display: flex;
    flex-direction: column;
}

.month {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.detail {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--strong_blue);
    line-height: 3rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.infomation_ship {
    display: flex;
    flex-direction: row;
    /* margin-top: 1rem; */
    margin-bottom: 1rem;
    line-height: 3rem;
    width: 100%;
    justify-content: flex-end;
}

.infomation_ship div:nth-child(1),
.infomation_ship div:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 1rem;
}

.infomation_ship>div>label {
    color: var(--strong_blue);
    font-weight: 700;
}

.infomation_ship>div>label span {
    font-weight: 300;
}

.infomation_ship>div>label>label>label:nth-child(1) {
    margin-right: 4rem;
}

.orders_Inship {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--strong_blue);
    overflow-y: scroll;
    width: 98%;
    height: 80vh;
    align-items: center;
}

.order {
    display: flex;
    flex-direction: row;
    background-color: var(--light_blue);
    width: 98%;
    box-shadow: 1px 1px 4px var(--gray);
    margin-top: 1rem;
}

.left_order {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 2rem;
    margin-right: 2rem;
}

.id_order {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: 700;
}

.detail_order {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 0.8rem;
}

.time_order {
    width: 20%;
}

.food_order {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.payment_method {
    margin-left: 4rem;
    width: 20%;
}

.right_order {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 5%;
    font-size: 1.8rem;
}

.right_order a:hover {
    cursor: pointer;
    color: #fff
}