<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../Resources/favicon.ico">
    <title>Document</title>
</head>

<body>
    <!----- CSS and Script-->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="script.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

    <!------ HTML Element ----->
    <div class="logo-and-name">
        <img class="small-logo" src="/img/Resources/logoHCMUS.png">
        <p class="interFontText" id="labelCanteen" style="font-size:3.5vw; margin-top:7vh">
            CĂN TIN <br> TRƯỜNG ĐẠI HỌC KHOA HỌC TỰ NHIÊN
        </p>
    </div>

    <form class="product-search">
        <input type="text" id="search-content" name="search-content" placeholder="Nhập tên một sản phẩm">
        <input type="submit" value="Tìm">
    </form>

    <div class="product-frame">
        <div class="product">
            <div class="image">
                <img src="/img/Resources/logoHCMUS.png" alt="product-logo" style="width: 20vw; height:20vw">
            </div>
            <div class="info">
                <span class="interFontText" style="font-size: 3.5vw">
                    Nước ngọt coca cola 800ml <br>
                </span>
                <span class="interFontText" style="font-size: 3.5vw">
                    10.000đ
                </span>
            </div>
            <div class="addbutton">
                <button>+</button>
            </div>
        </div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
    </div>

    <button class="review-cart-button interFontText">
        XEM LẠI GIỎ HÀNG
    </button>
</body>

</html>