<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/Resources/favicon.ico">
    <title>Document</title>
</head>

<body>
    <!----- CSS and Script-->
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="script.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

    <!------ HTML Element ----->
    <div class="logo-and-name">
        <img class="small-logo" src="/img/Resources/logoHCMUS.png">
        <p class="interFontText" id="labelCanteen" style="font-size:3.5vw; margin-top:7vh">
            CĂN TIN <br> TRƯỜNG ĐẠI HỌC KHOA HỌC TỰ NHIÊN
        </p>
    </div>
    <div>
        <span class="payment-label">
            THANH TOÁN HÓA ĐƠN CỦA BẠN
        </span>
        <span class="payment-amount">
            <%= totalPrice %>
        </span>
    </div>

    <span class="payment-label" style="font-size: 4vw;">
        Chọn phương thức thanh toán
    </span>
    <div class="payment-method">
        <form action="/customer/pay-bill/handle-momo" method="get">
            <button>
                <img src="/img/Resources/logoHCMUS.png" alt="payment-provider" style="width: 15vw; height:15vw">
                <span>Ví MoMo</span>
            </button>
            <button>
                <img src="/img/Resources/logoHCMUS.png" alt="payment-provider" style="width: 15vw; height:15vw">
                <span>Smart Banking / Internet Banking</span>
            </button>
            <button>
                <img src="/img/Resources/logoHCMUS.png" alt="payment-provider" style="width: 15vw; height:15vw">
                <span>VNQR-PAY</span>
            </button>
        </form>
    </div>
    <div>
        <form action="/" method="get">
            <button type="submit " class="return">HỦY</button>
        </form>
    </div>
</body>

</html>