<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../resert.css">
    <link rel="stylesheet" href="./Thông báo_admin.css">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <title>MANAGER</title>
</head>

<body>
    <nav class="navbar">
        <li>
            <a href="#">Quay lại màn hình thu ngân</a>
        </li>
        <li>
            <a href="#">Lập phiếu nhập hàng</a>
        </li>
        <li>
            <a href="#">Đăng xuất</a>
        </li>
    </nav>
    <section>
        <div class="container">
            <div class="introduce">
                <div class="top">
                    <div class="left_top">
                        <div>
                            <a href="#">
                                <img src="../images/Frame.png" alt="This is avatar">
                            </a>
                        </div>
                        <div class="btn_management">
                            <a href="#">Quản lí nhân viên</a>
                            <a href="#">Quản lí hàng hoá</a>
                            <a href="#">Quản lí nhập hàng</a>
                        </div>
                    </div>
                    <div class="right_top">
                        <div class="branch_logo">
                            <div class="branch">
                                <span>Căn tin</span>
                                <span>Trường đại học khoa học tự nhiên</span>
                            </div>
                            <img src="../images/logoHCMUS.png" alt="This is logo">
                        </div>
                        <div class="time">
                            <div class="day">
                                <span>THỨ HAI <span>,</span></span>
                                <span>Ngày</span>
                                <span>05/01/2023</span>
                            </div>
                            <span>10h03</span>
                        </div>
                    </div>
                </div>
                <div class="option">
                    <div>
                        <span>Nguyễn Đức Minh Quân</span>
                        <span>Nhân viên bán thời gian</span>
                    </div>
                    <div class="choice">
                        <a href="#">Thông tin tổng</a>
                        <a href="#">Thông tin ca làm</a>
                        <a href="#">
                            <span>Thông tin tháng làm</span>
                            <div class="month">
                                <span> <span>(</span> Tháng </span>
                                <span>01<span>/</span></span>
                                <span>2023 <span>)</span></span>
                            </div>
                        </a>
                        <a href="#">Thông báo</a>
                    </div>
                </div>
            </div>
            <div class="detail">
                <div class="shift">
                    <span>Thông báo xin phép đổi ca :</span>
                    <div class="detail_shift">
                        <span>Quản lý đã duyệt bạn</span>
                        <span>Phúc Thuần</span>
                        <span>xin phép đổi ca làm cho bạn</span>
                        <span>Minh Quân</span>
                        <span> <span>.</span> Ca</span>
                        <span>trưa</span>
                        <span>10h00 - 14h00 <span>,</span> </span>
                        <span>Thứ Hai </span>
                        <span>ngày làm</span>
                        <span>05/01/2023</span>
                    </div>
                </div>
                <div class="report">
                    <span>Thông báo hàng hoá:</span>
                    <div class="product_over">
                        <span>- Hàng hoá</span>
                        <span>Dasani 500ml</span>
                        <span>trong kho </span>
                        <span>sắp hết</span>
                        <span> (Số lượng tồn: </span>
                        <span>20 </span>
                        <span>).</span>
                        <span>Hệ thống khoá chức năng bán mặt hàng này.</span>
                    </div>
                    <div class="product_import">
                        <span>- </span>
                        <span>Cocacola Chai 500ml</span>
                        <span>đã được nhập</span>
                        <span>(Số lượng: </span>
                        <span>1024 </span>
                        <span>).</span>
                        <span>Được cập nhật lúc </span>
                        <span>08h02 </span>
                        <span>ngày </span>
                        <span>03/01/2023.</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>