<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../resert.css">
    <link rel="stylesheet" href="./Phiếu nhập hàng.css">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <title>IMPORT SLIP</title>
</head>

<body>
    <nav class="navbar">
        <li>
            <a href="#">Quay lại màn hình thu ngân</a>
        </li>
        <li>
            <a href="#">Lập phiếu nhập hàng</a>
        </li>
        <li>
            <a href="#">Đăng xuất</a>
        </li>
    </nav>
    <section>
        <div class="container">
            <div class="top">
                <div class="left_top">
                    <img src="../images/logoHCMUS.png" alt="This is logo">
                    <div class="branch">
                        <span>Căn tin</span>
                        <span>Trường đại học khoa học tự nhiên</span>
                    </div>
                </div>
                <div class="right_top">
                    <div class="day">
                        <span>THỨ HAI <span>,</span></span>
                        <span>Ngày</span>
                        <span>05/01/2023</span>
                    </div>
                    <span>10h03</span>
                </div>
            </div>
            <div class="detail">
                <span>Danh sách hàng hoá</span>
                <div class="list_product">
                    <div class="order">
                        <div class="left_order">
                            <div class="id_order">
                                <div class="id_">
                                    <span>Phiếu #</span>
                                    <span>HD004302012023</span>
                                </div>
                            </div>
                            <div class="detail_order">
                                <div class="time_order">
                                    <span>10h30</span>
                                    <span>-</span>
                                    <span>02/01/2023</span>
                                </div>
                                <div class="food_order"
                                    style="overflow: hidden;text-overflow: clip;white-space: nowrap; ">
                                    <div class="food">
                                        <span>x500</span>
                                        <span>Sting</span>
                                        <span>,</span>
                                    </div>
                                </div>
                                <div class="payment_method">
                                    <span>Người lập: </span>
                                    <span>Nguyễn Đức Minh Quân</span>
                                </div>
                            </div>
                        </div>
                        <div class="right_order">
                            <a href="#">></a>
                        </div>
                    </div>
                </div>
                <div class="fill">
                    <input type="text" placeholder="Nhập tên hàng hoá">
                    <input type="text" placeholder="Nhập công ty nhập">
                    <input type="date" placeholder="Ngày lập phiếu">
                </div>
            </div>
        </div>
    </section>
</body>

</html>