<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div>
        <form action="/customer" method="get">
            <button type="submit">Khách vãng lai</button>
        </form>
        <form action="/login" method="get">
            <button type="submit">Đăng nhập</button>
        </form>
        <form action="/register" method="get">
            <button type="submit">Đăng ký thành viên</button>
        </form>
    </div>
    <img src="/img/kurumi.png" alt="">
</body>
</html>